@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-400.woff') format('woff'),
         url('./fonts/inter-400.woff2') format('woff2');
}
.body {
    background-color: #000;
    margin: 45px 200px 0;
    font-family: "Inter";
}

.page {

}

.header {
    height: 74px;
    width: 880px;
    border-bottom: solid #545454 1px;
}

.header__logo {
    justify-items: center;
    width: 173px;
    height: 33px;
}

.profile {
    max-width: 880px;
    margin-top: 40px; 
    /* border: solid red 1px; */
    display: flex;
    align-items: center;
    gap: 30px;

}

.profile__info {
    display: flex;
    margin: 0 0;
    color: white;
    font-size: 42px;
    flex-wrap: wrap;
    max-width: 415px;
    gap: 18px;
}

.profile__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.profile__text-name {
    color: white;
    font-size: 42px;
    margin: 0 0;
    font-family: "Inter";
}

.profile__text-adj {
    color: white;
    font-size: 18px;
    margin: 0 0;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border: solid white 1px;
    align-self: center;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: black;
    border: solid 1px white;
    margin-left: auto;

}

.elements {
    display: flex;
    max-width: 800px;
    max-height: 743px;
    margin-top: 50px;
}

.elements__element {
    display: flex;
    flex-wrap: wrap;
}

.element__img {
    width: 282px;
    height: 282px;
    border-top-left-radius: 5%; 
    border-top-right-radius: 5%;
}

.element__text {
    color: #fff;
    border: solid 1px #fff ;
}

.element__group-img {
    color: ;
    background-color: #fff;
}

