.profile {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile__perfil {
    display: flex;
    align-items: center;

}

.profile__information {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    color: white;
    font-size: 42px;
    flex-wrap: wrap;
    max-width: 415px;
}

.profile__photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;

}

.profile__name {
    color: white;
    font-size: 42px;
    margin: 0 0;
    font-weight: 500;
}

.profile__adjetivo {
    color: white;
    font-size: 18px;
    margin: 0;
    padding-top: 16px;
    font-weight: 400;
}

.profile__button-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: black;
    border: solid white 1px;
    align-self: center;
    margin-left: 18px;
}

.profile__button-edit:hover {
    opacity: 0.7;
}

.profile__button-add {
    width: 150px;
    height: 50px;
    background-color: black;
    margin-left: auto;
    border: solid 2px white;
    cursor: pointer;
}

.profile__button-add:hover {
    opacity: 0.7;
}

.profile__row {
    display: flex;
}

@media screen and (max-width: 880px) and (min-width: 647px) {
    .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .profile__perfil {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .profile__information {
        display: flex;
        width: 100%;
        padding-left: 30px;
    }


    .profile__add-button {
        margin: 0 auto;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile__row {
        display: flex;
    }
}


@media screen and (max-width: 646px) {
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 2px black;
        margin-top: 42px;
        max-height: 286px;
    }

    .profile__perfil {
        display: flex;
        flex-direction: column;
    }

    .profile__photo {
        margin-bottom: 30px;
    }

    .profile__add-button {
        width: 50%;
        height: 50px;
        border: solid white 2px;
        margin: 0 auto;
    }

    .profile__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .profile__text-adj {
        margin: 0 auto;
    }

    .profile__text-name {
        font-size: 22px;
    }

    .profile__edit-button {}

    .profile__row {
        width: 100%;
        display: flex;
    }
}